<h1>Editing Book</h1>

<%= form_for(@book) do |f| %>

<div class="field">
	<%= f.label :title %>
	<%= f.text_field :title, class: "book_title" %>
</div>

<div class="field">
	<%= f.label :body %>
	<%= f.text_area :body, class: "book_body" %>
</div>

<div class="actions">
	<%= f.submit 'Update Book' %>
</div>

<% end %>

<%= link_to "Show", book_path(@book.id), class: "show_#{@book.id}" %>
<%= '|' %>
<%= link_to "Back", books_path, class: "back" %>
