<h1>Books</h1>
<table>
  <tr>
    <th>Title</th>
    <td>Body</td>
  </tr>
  <% @books.each do |b| %>
  <tr>
    <th><%= b.title %></th>
    <td><%= b.body %></td>
    <td><%= link_to "詳細", book_path(b.id) %></td>
    <td><%= link_to "編集", edit_book_path(b.id) %></td>
    <td><%= link_to "削除", book_path(b.id), method: :delete %></td>
  </tr>
  <% end %>
</table>




<h2>New book</h2>
<% if @book.errors.any? %>
  <ul>
      <h3><%= @book.errors.count %>件のエラーがあります</h3>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </ul>
<% end %>
<%= form_for @book,url: books_path,method: :post do |b| %>
  <p>Title</p>
  <%= b.text_field :title %>
  <p>Body</p>
  <%= b.text_field :body %><br>
  <%= b.submit "Create Book" %>
<% end %>
